#login
  - if @current_user
    %p.welcome Welcome, #{@current_user.name}!
    = link_to 'Log Out', logout_path
  - else
    %a{:href => '/auth/google_oauth2'}
      %div{:id => "button", :class => "Y3d isa Ndb"}
        %div.Ega 
        %div.tLb= "Sign in with Google"