#login
  %a{:href => '/auth/google_oauth2'}
    %div{:id => "googlebutton"}
      %div#googlelogo
      %div#googletext= "Sign in with Google"
  %a{:href => '/email'}
    %div{:id => "googlebutton"}
      %div#googlelogo
      %div#googletext= "Send email to request vacation"