%h1 All Employees
= render :partial => '/sessions/login'
%table.vblu
  %thead
    %tr
      %th.lefth
      %th.nolborder Name
      %th Email
      %th.norborder
      %th.righth
  %tbody
    = render :partial => 'employee' , :collection=>@employees
  %tfoot
    %tr
      %td.leftf
      %td.noborder
      %td.noborder
      %td.noborder
      %td.rightf
= link_to 'Add a new employee', new_employee_path
