%br
%h1 All Employees
%table.vblu#index
  %thead
    %tr
      %th.btopl Name
      %th.btopr Email
  %tbody
    = render :partial => 'employee' , :collection=>@employees
  %tfoot
    %tr
      %td.bbotl
      %td.bbotr
%br
%br
= link_to 'Add a new employee', new_employee_path, class: "add_employee"
