%h1 All Employees
%table#employees
  %thead
    %tr
      %th Name
      %th Email
    %tbody
      = render :partial => 'employee' , :collection=>@employees
= link_to 'Add a new employee', new_employee_path
