%h1 Health 4 All
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
%br
%button{:id => "checkin"} Check In
%button{:id => "checkout"} Check Out

%h2 Hours for current pay period: