<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Dear supervisor: </h3>
<p>
  I want to request a vacation, like below:
  Name: <%= @employee.name %>
</p>
</body>
</html>