%div.hide#rmenu
  %div#rowcontainer
  %ul
    %li
      %div{onclick: "alert(1);"}Delete
    %li
      %div{onclick: "alert(1);"}Insert Entry Above
    %li
      %div{onclick: "alert(1);"}Insert Entry Below
