-#The represenation of a timesheet as a table
- count = start
- days.each do |day|
  - day.num = count
  - count = count + 1
%table.vblu
  %thead.tshead
    %tr
      %th.lefth
      %th.nolborder Date
      %th In
      %th.norborder Out
      %th.righth
  %tbody
    = render :partial => '/days/day'  ,:collection=>days
  %tfoot.tsfoot
    %tr
      %td.leftf
      %td.noborder
      %td.noborder
      %td.noborder
      %td.rightf