-#The represenation of a timesheet as a table
- count = start
- days.each do |day|
  - day.num = count
  - count = count + 1
%table.vblu
  %thead
    %tr
      %th.btopl Date
      %th In
      %th.btopr Out
  %tbody
    -if (flipcolors)
      = render :partial => '/days/day'  ,:collection=>days, :locals => {:flip => 1}
    -else
      = render :partial => '/days/day'  ,:collection=>days, :locals => {:flip => 0}
  %tfoot
    %tr.bottomrow
      %td.bbotl
      %td
      %td.bbotr