%div
  %div.half
    %h3 #{first_week.first.day.strftime("%B %d - ") + first_week.last.day.strftime("%d, %Y")}
    = render :partial => "timesheet_table", :locals => {:days => first_week , :start => 1 }
  %div.half
    %h3 #{second_week.first.day.strftime("%B %d - ") + second_week.last.day.strftime("%d, %Y")}
    = render :partial => "timesheet_table", :locals => {:days => second_week ,:start => middle }