
%div
  %div.half
    = render :partial => "timesheet_table", :locals => {:days => first_week , :start => 1 }
  %div.half
    = render :partial => "timesheet_table", :locals => {:days => second_week ,:start => middle}