-#The represenation of a timesheet as a table
- count = start
- days.each do |day|
  - day.num = count
  - count = count + 1
%table.vblu
  %thead
    %tr
      %th Date
      %th In
      %th Out
  %tbody
    = render :partial => '/days/day'  ,:collection=>days