%h1 Health For All
%h2 Employee Leave Form
%p © ELECTRON
%div.content
  - label :movie, :title, 'Name'
  - text_field :movie, 'title'
%p
= label :movie, :rating, 'Type of Leave'
= select :movie, :rating, ['Vacation','Sick Leave','Bereavement','Jury Duty','Leave without Pay']
%br
= label :movie, :release_date, 'Date(s) of Leave'
= date_select :movie, :release_date

