
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0;
    padding: 0;
    /*background-color: #E7E7E7;*/
    background-color: rgb(0 , 86 , 144);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

table * {
    text-align :center;
}

table.vblu {
    margin: auto;
    display: inline-block;
    vertical-align:top;
}

div#main{
    }


a{
    background:transparent;
    color: rgb(0 , 86 , 144);
    text-decoration:underline;
    font-weight:bold;
}
h1{
    color: #E60000;
    font-size: 2em;
    display: block;
    width: 100%;

}

h2{
    color: #E60000;
    font-size: 1.5em;
    display: block;
    width: 100%;

}

#notice, #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
}
form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: black;
}

select {
    color : #E60000;
    background-color : #F8F8F8;
    font-weight : bold;
    border : none;
    font-size : 1.5em;
}

button, input[type=submit], .button {
    color : white;
    background-color : rgb( 0 , 86 , 144);
    border-color : transparent;
    font-weight: bold;
    font-size: 1em;
    -webkit-border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    padding: 5px;
}

#submit {
    font-size: 1.5em;
}



/* CONTENT CSS */
#content{
	/* padding-bottom = footer margin-top*/
	padding: 0 .5em 2.8em .5em;
	margin: 0 auto 0 auto;
}

/* BASIC CONTENT ELEMENTS */
.containerrow{
	/*box model*/
	width: 100%;
	min-width: 20em;
	height: auto;
	padding: 0;
	/*positioning*/
	position: relative;
}

.col{
  /*display*/
  background-color: #282828;
  text-align: center;
  text-decoration: none;
  /*box model*/
  height: 100%;
  padding: .5em;
  margin: .5em;
  /*positioning*/
  position: relative;
}

.half{
  width: calc(50%);
  display:inline
}

/* GOOGLE BUTTON */

.Ndb.isa .Ega {
  background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/signinbutton-094c03c836f9f91d08b943a90778d34e.png) -32px -44px;
  height: 32px;
  width: 32px;
  margin-top: -1px;
}

.isa .Ega {
  border-color: #bb3f30;
}

.Ega {
  border-style: solid;
  border-width: 0;
  display: inline-block;
  vertical-align: top;
}
.Ega {
  border-right-width: 1px;
}

.Ndb {
  font-size: 12px;
  height: 31px;
  line-height: 31px;
}

.isa {
  background-color: #dd4b39;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.Y3d {
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: Roboto,arial,sans-serif;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  margin: 2em 0 calc(2em - 11px) 0;
}

.Ndb .tLb {
  padding: 0 20px;
}
.isa .tLb {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
}

.tLb {
  display: inline-block;
}

.isa {
  background-color: #dd4b39;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*main - CSS for rounded page table*/

table.page {
  border-collapse: collapse;
  resize: none;
  
  width: calc(100% - 48em);
  margin: 1em 24em 1em 24em;
  text-align: left;
}

table.page {
    width: calc(100% - 4em);
    margin: 1em 2em 1em 2em;
}

table.page .image{
      background-color: rgb(0 , 86 , 144);
}

table.page .blue_bar{
      height: 5px;
      background-color: rgb(0 , 86 , 144);
}

@media screen, handheld{
    
    
    .mobile_timesheet{
        display: inline;
    }
    
    .full_timesheet{
        display: none;
    }

    .half{
      width: calc(100%);
      display: inline-block;
    }

    table.page .image{
      height: 1px;
    }

    table.page .blank{
      height: 0px;
    }
}
@media screen and (min-width: 700px), handheld{

    .mobile_timesheet{
        display: none;
    }
    
    .full_timesheet{
        display: inline;
    }
    
    table.page {
        width: calc(100% - 12em);
        margin: 1em 6em 1em 6em;
    }
    
    .half{
      width: calc(50%);
      display:inline;
    }
    
    table.page .image{
      height: 10px;
    }
}
@media screen and (min-width: 1025px){

    .mobile_timesheet{
        display: none;
    }
    
    .full_timesheet{
        display: inline;
    }
    table.page {
        max-width: 975px;
        width: calc(100% - 40em);
        margin: 1em auto 1em auto;
    }
    
    .half{
      width: calc(50%);
      display:inline;
    }
    
    table.page .image{
      height: 125px;
      background-image: url(image.jpg);
    }
    
    table.page .blank{
      height: 3px;
    }
}

table.page .white{
  background-color: white;
}

/*vblu - CSS for rounded table with blue header*/

table.vblu {
  border-collapse: collapse;
  resize: none;
}

table.vblu th, table.vblu td {
  padding: 4px;
  text-align: center;
  resize: none;
}

table.vblu td {
  border: 1px solid #cddcd9;
  background-color: #F5F5F5;
}

table.vblu th {
  border: 0;
  border-right: 1px solid #cddcd9;
  border-left: 1px solid #cddcd9;
  font-weight: bold;
  color: white;
  background-color: rgb(0, 86, 144);
}

table.vblu .lefth, table.vblu .righth, table.vblu .leftf, table.vblu .rightf, table.page .lefth, table.page .righth, table.page .leftf, table.page .rightf {
  font-size: 11px;
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 11px;
}

table.vblu td.error{
    background-color: #F26D89;
}


table.vblu .edgeleft{
  border-right: 0;
  border-left: 0;
  min-width: 0px;
}

table.vblu .edgeright{
  border-right: 0;
  border-left: 0;
  min-width: 0px;
}

table.vblu .nolborder{
  padding-right: 12px;
  border-left: 0;
  min-width: 38px;
}

table.vblu .norborder{
  padding-left: 12px;
  border-right: 0;
  min-width: 38px;
}

table.vblu .noborder{
  border: 0;
}


