
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0;
    padding: 0;
    /*background-color: #E7E7E7;*/
    /*background-color: rgb(0 , 86 , 144);*/
    background-color: rgb(13 , 147 , 198);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

div#main{
}


a{
    background:transparent;
    color: rgb(0 , 86 , 144);
    text-decoration:underline;
    font-weight:bold;
}
h1{
    color: #E60000;
    font-size: 2em;
    display: block;
    width: 100%;

}

h2{
    color: #E60000;
    font-size: 1.5em;
    display: block;
    width: 100%;

}

#notice, #warning {
    background: rosybrown;
    margin: 1em 0;
    padding: 4px;
}
form label {
    display: block;
    line-height: 25px;
    font-weight: bold;
    color: black;
}

select {
    color : #E60000;
    background-color : #F8F8F8;
    font-weight : bold;
    border : none;
    font-size : 1.5em;
}

button, input[type=submit], .button {
    color : white;
    background-color : rgb( 0 , 86 , 144);
    border-color : transparent;
    font-weight: bold;
    font-size: 1em;
    -webkit-border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a.button {
    padding: 5px;
}

#submit {
    font-size: 1.5em;
}

/* GOOGLE BUTTON */

#googlebutton #googlelogo {
  background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/signinbutton-094c03c836f9f91d08b943a90778d34e.png) -32px -44px;
  height: 32px;
  width: 32px;
  margin-top: -1px;
  border-style: solid;
  border-width: 0;
  display: inline-block;
  vertical-align: top;
  border-color: #bb3f30;
  border-right-width: 1px;
}

#googlebutton {
  background-color: #dd4b39;
  color: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  height: 31px;
  line-height: 31px;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: Roboto,arial,sans-serif;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  margin: 2em 0 calc(2em - 11px) 0;
}

#googlebutton #googletext {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  display: inline-block;
  padding: 0 20px;
}

/*main - CSS for rounded page table*/
#phead {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
}

#pbody {
    margin:0;
    background-color: white;
    text-align: center;
}

#pfoot {
    height: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}

img.logo{
    margin-left: 12px; /*so you can see the 12px curved edge*/
    width: 213px;
    height: 70px;
}

#pbanner{
    height: 10px;
    background-color: rgb(0 , 86 , 144);
}

@media screen, handheld{
    #page {
        width: calc(100% - 2em);
        margin: 1em 1em 1em 1em;
    }
    #pbanner{
        height: 10px;
    }
    .half{ width: 100%; }
}
@media screen and (min-width: 700px), handheld{
    #page {
        width: calc(100% - 12em);
        margin: 1em 6em 1em 6em;
    }
    .half{ 
        width: 50%; 
        display: inline;
    }
}
@media screen and (min-width: 1025px){
    #page {
        max-width: 950px;
        width: calc(100% - 40em);
        margin: 1em auto 1em auto;
    }  
    #pbanner{
        margin-top: 5px;
        margin-bottom: 5px;
        height: 125px;
        background-image: url(image.jpg);
    }
}

/*vblu - rounded table with blue header*/

table.vblu {
    border-collapse: collapse;
    resize: none;
    margin: auto;
    display: inline-block;
    vertical-align:top;
}

table.vblu th, table.vblu td {
    padding: 4px;
    text-align: center;
    resize: none;
    border-left: 1px solid #cddcd9;
    text-align: center;
    min-width: 5em;
}

table.vblu td {
    border-top: 1px solid #cddcd9;
    background-color: #F5F5F5;
}

table.vblu td:first-child , table.vblu th:first-child{
    border-left: none;
}

table.vblu th {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 86, 144);
}

table.vblu th.btopl{ border-top-left-radius: 12px; }
table.vblu th.btopr{ border-top-right-radius: 12px; }
table.vblu td.bbotl{ border-bottom-left-radius: 12px; }
table.vblu td.bbotr{ border-bottom-right-radius: 12px; }

table.vblu td.error{
    background-color: #F26D89;
}


