// Place all the styles related to the employees_controler controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_employee {
  /*color : white;
  border-color : transparent;
  -webkit-border-radius: 3px;
  padding: 3px;
  text-decoration: none;
  background-color: #E60000;
  //color: #E60000;
  font-size: 1em;*/
  color: #E60000;
}