// Place all the styles related to the timesheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table.vblu .lefth {
  background-image: url( asset-path('vblu_01.gif' ) );
}

table.vblu .righth {
  background-image: url( asset-path("vblu_03.gif") );
}

table.vblu .leftf {
  background-image: url( asset-path("vblu_07.gif" ));
}

table.vblu .rightf {
  background-image: url( asset-path("vblu_09.gif" ));
}
